# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/.gitignore
.idea/2019_group_30_s4151968_s4056167_s3922782.iml
.idea/codeStyles/
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
back-end/back-end.iml
back-end/src/
front-end/front-end.iml
!/.gitignore
*.lst
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
